* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.tippytop {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.seo {
    color: #d9dcd6
}

#horizon {
    display: inline-block;
    font-size: 48px;
}

.across {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#no-list {
    list-style-type: none;
}

.click {
    display: inline-block;
    margin-left: 25px;
}

a {
    color:#ffffff
}

a:link {
    text-decoration: none;
}


.boardroom {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../../Horizon-Images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.the-information {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.h2-sizing {
    margin-bottom: 20px;
    font-size: 36px;
}

.img-height {
    max-height: 200px;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff; 
}

.side-information {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.elements {
    margin-bottom: 32px;
    color: #ffffff;
}

.elements-style {
    margin-bottom: 10px;
    text-align: center;
}

.elements-img-style {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

#the-end {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#mwl {
    font-size: 20px;
}









